* {
    -fx-white-color: #e5e3e3;
    -fx-light-green-color: #C5CEB6;
    -fx-green-color: #4B6D4A;
    -fx-dark-green-color: #213121;
}

/* Labels css */
.label{
    -fx-alignment: center;
    -fx-text-fill: -fx-dark-green-color;
}

#lblNotice{
    -fx-alignment: center-left;
}

#lblNotice, #lblUserValue, #lblIMDBValue, #lblUserRating, #lblIMDBRating{
    -fx-font-weight: bold;
}

/* Buttons css */
.button{
    -fx-background-color: -fx-green-color;
    -fx-text-fill: -fx-white-color;
    -fx-font-weight: bold;
}

.button:hover, .button:pressed{
    -fx-opacity: 0.8;
}

/* Background colour */
#backgroundPane{
    -fx-background-color: #A3B18A;
}

/* Rating sliders css */
.slider {
    -slider-filled-track-color: -fx-green-color;
    -slider-track-color: -slider-filled-track-color ;
}
.slider .thumb{
    -fx-background-color: -slider-filled-track-color;
}

.slider .track{
    -fx-background-color: -slider-track-color;
}

/* Genres dropdown css*/
.combo-box-base{
    -fx-border-color: -fx-light-green-color;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

.combo-box .list-cell{
    -fx-background-color: -fx-light-green-color;
    -fx-border-color: -fx-light-green-color;
    -fx-border-style:solid;
    -fx-border-width:1;
    -fx-text-fill: -fx-dark-green-color;
}

.list-cell .check-box .box {
    -fx-background-color: #DAD7CD;
    -fx-border-radius: 3;
    -fx-border-color: #C2BDAD;
}

.list-cell .check-box:selected .mark{
    -fx-background-color: -fx-dark-green-color;
}

#genresDropDown .arrow{
    -fx-background-color: -fx-green-color;
}

#genresDropDown .arrow-button{
    -fx-background-color: -fx-light-green-color;
}

/* Text field css */
.text-field{
    -fx-background-color: -fx-light-green-color;
    -fx-prompt-text-fill: -fx-dark-green-color;
}

/* Movie list css*/
#moviesList{
    -fx-background-color: #DAD7CD;
}

#moviesList .list-cell{
    -fx-background-color: #DAD7CD;
    -fx-border-color: #CCC6B8;
}

#moviesList .list-cell:filled:focused:selected,
#moviesList .scroll-bar .thumb{
    -fx-background-color: #C2BDAD;
}

#moviesList .scroll-bar{
    -fx-background-color: #CCC6B8;
}

/* Date picker css*/
.date-picker .arrow {
    -fx-background-color: -fx-dark-green-color;
}

.date-picker .cell,
.date-picker,
.date-picker .arrow-button {
    -fx-background-color: -fx-light-green-color;
}

.date-picker .selected, .date-picker-popup .month-year-pane{
    -fx-background-color: -fx-green-color;
}

.date-picker .button{
    -fx-background-color: transparent;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: -fx-white-color;
}

.date-picker-popup .month-year-pane .label{
    -fx-text-fill: -fx-white-color;
}