.label{
    -fx-alignment: center;
    -fx-text-fill: #213121;
}

.button{
    -fx-background-color: #4B6D4A;
    -fx-text-fill: #e5e3e3;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-opacity: 0.8;
}

.button:pressed{
    -fx-opacity: 0.8;
}

#backgroundPane{
    -fx-background-color: #A3B18A;
}

.slider {
    -slider-filled-track-color: #4B6D4A ;
    -slider-track-color: -slider-filled-track-color ;
}
.slider .thumb{
    -fx-background-color: -slider-filled-track-color;
}

.slider .track{
    -fx-background-color: -slider-track-color;
}

#lblNotice{
    -fx-alignment: center-left;
}

.combo-box-base{
    -fx-border-color: #C5CEB6;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

.combo-box .list-cell{
    -fx-background-color: #C5CEB6;
    -fx-border-color: #C5CEB6;
    -fx-border-style:solid;
    -fx-border-width:1;
    -fx-text-fill: #213121;
}

.list-cell .check-box .box {
    -fx-background-color: #DAD7CD;
    -fx-border-radius: 3;
    -fx-border-color: #C2BDAD;
}

.list-cell .check-box:selected .mark{
    -fx-background-color: #213121;
}

#genresDropDown .arrow{
    -fx-background-color: #4B6D4A;
}

#genresDropDown .arrow-button{
    -fx-background-color: #C5CEB6;
}

.text-field{
    -fx-background-color: #C5CEB6;
    -fx-prompt-text-fill: #213121;
}

#moviesList{
    -fx-background-color: #DAD7CD;
}

#moviesList .list-cell{
    -fx-background-color: #DAD7CD;
    -fx-border-color: #CCC6B8;
}

#moviesList .list-cell:filled:focused:selected{
    -fx-background-color: #C2BDAD;
}

#moviesList .scroll-bar{
    -fx-background-color: #CCC6B8;
}

#moviesList .scroll-bar .thumb{
    -fx-background-color: #C2BDAD;
}

#lblNotice, #lblUserValue, #lblIMDBValue, #lblUserRating, #lblIMDBRating{
    -fx-font-weight: bold;
}

.date-picker .arrow {
    -fx-background-color: #213121;
}

.date-picker .cell{
    -fx-background-color: #C5CEB6;
}

.date-picker .selected{
    -fx-background-color: #4B6D4A;
}

.date-picker, .date-picker .arrow-button {
    -fx-background-color: #C5CEB6;
}

.date-picker .button{
    -fx-background-color: transparent;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #e5e3e3;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #4B6D4A;
}

.date-picker-popup .month-year-pane .label{
    -fx-text-fill: #e5e3e3;
}





